/* Fonts */
$base-font-size:    13px;
$base-line-height:  13px;
$letter-spacing:    1px;

$light:             300;
$normal:            400;
$bold:              700;

/* Other */

$base-radius:       3px;

/* Transitions */

$transition-secs:        0.5s;